body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}
.hii {
  font-size: 5em;
  font-weight: 0;
  font-family: "Sacramento", cursive;
  color: #efe3d0;
  padding-top: 100px;
}
h1 {
  margin: 0px auto 0 auto;
  font-size: 4em;
  font-family: "Sacramento", cursive;
  color: #efe3d0;
  line-height: 1.7;
}
h2 {
  font-family: "Montserrat-Bold", sans-serif;
  color: #c8c6c6;
  font-weight: bold;
  margin-top: 25px;
}
a {
  font-family: "Montserrat-Bold", sans-serif;
  color: #c8c6c6;
}
a:hover {
  color: #c8c6c6;
}
h4 {
  font-family: "Montserrat", sans-serif;
  color: #d9cab3;
  padding-top: 3%;
}
.top-container {
  background-color: #0a1931;
  position: relative;
}
.middle-container {
  background-color: #0a1931;
  padding-bottom: 20px;
}
.row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}
.logo {
  width: 22%;
  float: right;
}
hr {
  width: 4%;
  border: dotted #d9cab3 7px;
  border-bottom: none;
  margin: 50px auto auto auto;
  background-color: #0a1931;
}
.BUTTON_YPB {
  background: #f0e5cf;
  background-image: -webkit-linear-gradient(top, #f0e5cf, #f0e5cf);
  background-image: -moz-linear-gradient(top, #f0e5cf, #f0e5cf);
  background-image: -ms-linear-gradient(top, #f0e5cf, #f0e5cf);
  background-image: -o-linear-gradient(top, #f0e5cf, #f0e5cf);
  background-image: -webkit-gradient(to bottom, #f0e5cf, #f0e5cf);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #000000;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 18px;
  font-weight: 100;
  padding: 9px;
  text-decoration: none;
  text-align: center;
}

.BUTTON_YPB:hover {
  border: solid #f7f6f2 1px;
  background: #f7f6f2;
  background-image: -webkit-linear-gradient(top, #f7f6f2, #f7f6f2);
  background-image: -moz-linear-gradient(top, #f7f6f2, #f7f6f2);
  background-image: -ms-linear-gradient(top, #f7f6f2, #f7f6f2);
  background-image: -o-linear-gradient(top, #f7f6f2, #f7f6f2);
  background-image: -webkit-gradient(to bottom, #f7f6f2, #f7f6f2);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  color: #000000;
  text-decoration: none;
}
.contact-message {
  width: 40%;
  margin: 30px auto 30px;
  color: #93b5c6;
}
.bottom-container {
  background-color: #0a1931;
  padding: 25px 0 20px;
}
.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 2px 0px;
}
.my-pic {
  width: 20%;
  border-radius: 50%;
}
.navbar-nav {
  margin-right: auto;
  margin-top: auto;
}
.nav-item {
  padding: 0 10px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
  color: #c8c6c6;
  text-decoration: underline;
}
.nav-link:hover {
  color: #c8c6c6;
}
.navbar {
  float: right;
}
.intro {
  font-size: 97%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 0%;
  padding-top: 10px;
}
p {
  color: #93b5c6;
  margin-bottom: 0px;
}
